In [8]:
# Dependencies and Setup
import pandas as pd

# Load File
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

# Display top 5 rows of dataframe for reference
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
# Display a statistical overview of the DataFrame for reference
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [21]:
# Check to see if there are any incomplete rows
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [10]:
# Reference the Length of the unique values in the SN Column for reference. Value_counts method counts unique values in a column
TotalPlayers = purchase_data_df["SN"].value_counts()
TotalPlayers

Lisosia93       5
Iral74          4
Idastidru52     4
Pheodaisun84    3
Silaera56       3
               ..
Irilis75        1
Filurarn35      1
Aellyria80      1
Hailaphos89     1
Lirtim36        1
Name: SN, Length: 576, dtype: int64

In [11]:
# Calculate the Total Number of Unique Players in the DataFrame
player_count = len(purchase_data_df["SN"].unique())
player_count

576

In [12]:
# PLAYER COUNT- TOTAL NUMBER OF PLAYERS: Create a DataFrame to display the Total Number of Players
player_count_df = pd.DataFrame(
    {"Total Players": [player_count],
     })

player_count_df

   Total Players
0            576

In [13]:
# PURCHASING ANALYSIS (TOTAL)

# Run basic calculations to obtain number of unique items, average price, etc.

# Number of Unique Items: The value_counts method counts unique values in a column
unique_items = len(purchase_data_df["Item ID"].unique())
unique_items

183

In [14]:
# Average Purchase Price: The mean method averages the series
average_purchase_price = purchase_data_df["Price"].mean()
average_purchase_price

3.050987179487176

In [16]:
# Total Number of Purchases: The value_counts method counts unique values in a column
Number_of_Purchases = len(purchase_data_df["Purchase ID"].unique())
Number_of_Purchases

780

In [18]:
# Total Revenue
Total_Revenue = purchase_data_df["Price"].sum()
Total_Revenue

2379.77

In [48]:
# Create a summary data frame to hold the results

Purchasing_Analysis_df = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
     "Average Price": [average_purchase_price],
     "Number of Purchases": [Number_of_Purchases],
     "Total Revenue": [Total_Revenue]
     })

# Display the summary data frame

Purchasing_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [49]:
# Optional: give the displayed data cleaner formatting: Use Map to format all the columns

Purchasing_Analysis_Formatted_df = Purchasing_Analysis_df

Purchasing_Analysis_Formatted_df["Average Price"] = Purchasing_Analysis_df["Average Price"].map("${:.2f}".format)
Purchasing_Analysis_Formatted_df["Total Revenue"] = Purchasing_Analysis_df["Total Revenue"].map("${:,.2f}".format)

Purchasing_Analysis_Formatted_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [58]:
# GENDER DEMOGRAPHICS

# Evaluate the unique values in the Gender Column

uniquevaluesingendercolumn = purchase_data_df["Gender"].unique()
uniquevaluesingendercolumn

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [59]:
# Count the number of Male Players

# Filter the data so that only Males are in a DataFrame

male_purchase_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
male_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [60]:
# Percentage and Count of Male Players

# Calculate the Total Number of Unique Male Players in the DataFrame
male_player_count = len(male_purchase_data_df["SN"].unique())
male_player_count

# Percentage and Count of Female Players


# Percentage and Count of Other / Non-Disclosed

484

In [66]:
# Calculate the Percentage of Male Players

PercentageMalePlayers = male_player_count / player_count
PercentageMalePlayers

0.8402777777777778

In [61]:
# Filter the data so that only Females are in a DataFrame

female_purchase_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
female_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [62]:
# Calculate the Total Number of Unique Female Players in the DataFrame
female_player_count = len(female_purchase_data_df["SN"].unique())
female_player_count

81

In [67]:
# Calculate the Percentage of Female Players

PercentageFemalePlayers = female_player_count / player_count
PercentageFemalePlayers

0.140625

In [63]:
# Filter the data so that only Other / Non-Disclosed Players are in a DataFrame

othernondisclosed_purchase_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
othernondisclosed_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [65]:
# Calculate the Total Number of Unique Other / Non-Disclosed Players in the DataFrame
othernondisclosed_player_count = len(othernondisclosed_purchase_data_df["SN"].unique())
othernondisclosed_player_count

11

In [70]:
# Calculate the Percentage of Unique Other / Non-Disclosed Players

PercentageOtherNonDisclosedPlayers = othernondisclosed_player_count / player_count
PercentageOtherNonDisclosedPlayers

0.019097222222222224

In [107]:
# Create a summary data frame to hold the Gender Demographics Analysis results

# Create a DataFrame of Gender Breakdown using a list of dictionaries
GenderAnalysis_df = pd.DataFrame([
    {"Gender": "Male", "Total Count": male_player_count, "Percentage of Players": PercentageMalePlayers*100},
    {"Gender": "Female", "Total Count": female_player_count, "Percentage of Players": PercentageFemalePlayers*100},
    {"Gender": "Other / Non-Disclosed", "Total Count": othernondisclosed_player_count, "Percentage of Players": PercentageOtherNonDisclosedPlayers*100},
])
GenderAnalysis_df

                  Gender  Total Count  Percentage of Players
0                   Male          484              84.027778
1                 Female           81              14.062500
2  Other / Non-Disclosed           11               1.909722

In [108]:
# Optional: give the displayed data cleaner formatting: Use Map to format all the columns

GenderAnalysis_Formatted_df = GenderAnalysis_df

GenderAnalysis_Formatted_df["Percentage of Players"] = GenderAnalysis_df["Percentage of Players"].map("{:.2f}%".format)

GenderAnalysis_Formatted_df

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [83]:
# PURCHASING ANALYSIS (MALE)

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

# Number of Unique Purchases from Males: The value_counts method counts unique values in a column
unique_purchases_male = len(male_purchase_data_df["Purchase ID"].unique())
unique_purchases_male

652

In [84]:
# Average Purchase Price from Males: The mean method averages the series
average_purchase_price_male = male_purchase_data_df["Price"].mean()
average_purchase_price_male

3.0178527607361953

In [85]:
# Total Purchase Value from Males
Total_Revenue_Male = male_purchase_data_df["Price"].sum()
Total_Revenue_Male

1967.64

In [87]:
# Average Total Purchase per Male Person
average_purchase_per_male = Total_Revenue_Male / male_player_count
average_purchase_per_male

4.065371900826446

In [88]:
# Number of Unique Purchases from females: The value_counts method counts unique values in a column
unique_purchases_female = len(female_purchase_data_df["Purchase ID"].unique())
unique_purchases_female

113

In [89]:
# Average Purchase Price from females: The mean method averages the series
average_purchase_price_female = female_purchase_data_df["Price"].mean()
average_purchase_price_female

3.203008849557519

In [90]:
# Total Purchase Value from females
Total_Revenue_Female = female_purchase_data_df["Price"].sum()
Total_Revenue_Female

361.94

In [91]:
# Average Total Purchase per Female Person
average_purchase_per_female = Total_Revenue_Female / female_player_count
average_purchase_per_female

4.468395061728395

In [93]:
# Number of Unique Purchases from OtherNon-Disclosed: The value_counts method counts unique values in a column
unique_purchases_othernondisclosed = len(othernondisclosed_purchase_data_df["Purchase ID"].unique())
unique_purchases_othernondisclosed

15

In [114]:
# Average Purchase Price from othernondisclosed: The mean method averages the series
average_purchase_price_othernondisclosed = othernondisclosed_purchase_data_df["Price"].mean()
average_purchase_price_othernondisclosed

3.3460000000000005

In [141]:
# Total Purchase Value from othernondisclosed
Total_Revenue_Othernondisclosed = othernondisclosed_purchase_data_df["Price"].sum()
Total_Revenue_Othernondisclosed

50.19

In [142]:
# Average Total Purchase per Othernondisclosed Person
average_purchase_per_othernondisclosed = Total_Revenue_Othernondisclosed / othernondisclosed_player_count
average_purchase_per_othernondisclosed

4.5627272727272725

In [153]:
# Create a summary data frame to hold the Purchasing Analysis(Gender) results

# Create a DataFrame of Gender Breakdown using a list of dictionaries
PurchasingAnalysisbyGender_df = pd.DataFrame([
    {"Gender": "Female", "Purchase Count": unique_purchases_female, "Average Purchase Price": average_purchase_price_female, "Total Purchase Value": Total_Revenue_Female, "Avg Total Purchase per Person": average_purchase_per_female},
    {"Gender": "Male", "Purchase Count": unique_purchases_male, "Average Purchase Price": average_purchase_price_male, "Total Purchase Value": Total_Revenue_Male, "Avg Total Purchase per Person": average_purchase_per_male},
    {"Gender": "Other / Non-Disclosed", "Purchase Count": unique_purchases_othernondisclosed, "Average Purchase Price": average_purchase_price_othernondisclosed, "Total Purchase Value": Total_Revenue_Othernondisclosed, "Avg Total Purchase per Person": average_purchase_per_othernondisclosed},
])
PurchasingAnalysisbyGender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.203009,361.94,4.468395
1,Male,652,3.017853,1967.64,4.065372
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [154]:
# Optional: give the displayed data cleaner formatting

PurchasingAnalysisbyGender_Formatted_df = PurchasingAnalysisbyGender_df

PurchasingAnalysisbyGender_Formatted_df["Average Purchase Price"] = PurchasingAnalysisbyGender_df["Average Purchase Price"].map("${:.2f}".format)
PurchasingAnalysisbyGender_Formatted_df["Total Purchase Value"] = PurchasingAnalysisbyGender_df["Total Purchase Value"].map("${:,.2f}".format)
PurchasingAnalysisbyGender_Formatted_df["Avg Total Purchase per Person"] = PurchasingAnalysisbyGender_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

PurchasingAnalysisbyGender_Formatted_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [155]:
# AGE DEMOGRAPHICS

 
# Establish bins for ages- Create the bins in which Data will be held

bins = [0, 9, 14, 19, 24, 29, 34, 39, 999]

# Create the names for the eight bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create New Dataframe for this analysis that will categorizes the existing players using the age bins

purchase_data_age_demographics_df = pd.DataFrame(purchase_data_df)

# Categorize the existing players using the age bins. Hint: use pd.cut()

purchase_data_age_demographics_df["Age Demographics Summary"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
purchase_data_age_demographics_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [161]:
# Creating a group based off of the bins
# (apparently not needed and causes issues) purchase_data_age_demographics_df = purchase_data_age_demographics_df.groupby("Age Demographics Summary")
# (apparently not needed and causes issues) purchase_data_age_demographics_df.max()

In [162]:
# Calculate the numbers and percentages by age group

# Count the number of Players Aged less than 10

# Filter the data so that only players less than 10 are in a DataFrame

playersagelessthanten_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "<10", :]
playersagelessthanten_purchase_data_df.head()

# Create a summary data frame to hold the results


# Optional: round the percentage column to two decimal points


# Display Age Demographics Table

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics Summary
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10

In [163]:
# Calculate the Total Number of Players aged less than 10 in the DataFrame
player_count_agelessthanten = len(playersagelessthanten_purchase_data_df["SN"].unique())
player_count_agelessthanten

17

In [164]:
# Calculate the Percentage of Players aged less than 10 in the DataFrame

Percentagelessthanten = player_count_lessthanten / player_count
Percentagelessthanten

0.029513888888888888

In [165]:
# Filter the data so that only players between 10-14 are in a DataFrame

playersage10to14_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "10-14", :]
playersage10to14_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics Summary
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14

In [166]:
# Calculate the Total Number of Players aged 10-14 in the DataFrame
player_count_age10to14 = len(playersage10to14_purchase_data_df["SN"].unique())
player_count_age10to14

22

In [167]:
# Calculate the Percentage of Players aged 10-14 in the DataFrame

Percentage10to14 = player_count_age10to14 / player_count
Percentage10to14

0.03819444444444445

In [168]:
# Filter the data so that only players between 15-19 are in a DataFrame

playersage15to19_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "15-19", :]
playersage15to19_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics Summary
30,30,Idai61,19,Male,140,Striker,2.94,15-19
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19

In [169]:
# Calculate the Total Number of Players aged 15-19 in the DataFrame
player_count_age15to19 = len(playersage15to19_purchase_data_df["SN"].unique())
player_count_age15to19

107

In [170]:
# Calculate the Percentage of Players aged 15-19 in the DataFrame

Percentage15to19 = player_count_age15to19 / player_count
Percentage15to19

0.1857638888888889

In [171]:
# Filter the data so that only players between 20-24 are in a DataFrame

playersage20to24_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "20-24", :]
playersage20to24_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24

In [172]:
# Calculate the Total Number of Players aged 20-24 in the DataFrame
player_count_age20to24 = len(playersage20to24_purchase_data_df["SN"].unique())
player_count_age20to24

258

In [173]:
# Calculate the Percentage of Players aged 20-24 in the DataFrame

Percentage20to24 = player_count_age20to24 / player_count
Percentage20to24

0.4479166666666667

In [174]:
# Filter the data so that only players between 25-29 are in a DataFrame

playersage25to29_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "25-29", :]
playersage25to29_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics Summary
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29

In [175]:
# Calculate the Total Number of Players aged 25-29 in the DataFrame
player_count_age25to29 = len(playersage25to29_purchase_data_df["SN"].unique())
player_count_age25to29

77

In [176]:
# Calculate the Percentage of Players aged 25-29 in the DataFrame

Percentage25to29 = player_count_age25to29 / player_count
Percentage25to29

0.13368055555555555

In [177]:
# Filter the data so that only players between 30-34 are in a DataFrame

playersage30to34_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "30-34", :]
playersage30to34_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics Summary
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34

In [178]:
# Calculate the Total Number of Players aged 30-34 in the DataFrame
player_count_age30to34 = len(playersage30to34_purchase_data_df["SN"].unique())
player_count_age30to34

52

In [179]:
# Calculate the Percentage of Players aged 30-34 in the DataFrame

Percentage30to34 = player_count_age30to34 / player_count
Percentage30to34

0.09027777777777778

In [180]:
# Filter the data so that only players between 35-39 are in a DataFrame

playersage35to39_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "35-39", :]
playersage35to39_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics Summary
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39

In [181]:
# Calculate the Total Number of Players aged 35-39 in the DataFrame
player_count_age35to39 = len(playersage35to39_purchase_data_df["SN"].unique())
player_count_age35to39

31

In [182]:
# Calculate the Percentage of Players aged 35-39 in the DataFrame

Percentage35to39 = player_count_age35to39 / player_count
Percentage35to39

0.05381944444444445

In [183]:
# Filter the data so that only players aged 40+ are in a DataFrame

playersage40pluspurchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "40+", :]
playersage40pluspurchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics Summary
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

In [185]:
# Calculate the Total Number of Players aged 40+ in the DataFrame
player_count_age40plus = len(playersage40pluspurchase_data_df["SN"].unique())
player_count_age40plus

12

In [186]:
# Calculate the Percentage of Players aged 40+ in the DataFrame

Percentage40plus = player_count_age40plus / player_count
Percentage40plus

0.020833333333333332

In [187]:
# Create a summary data frame to hold the Age Demographics Analysis results

# Create a DataFrame of Age Category Breakdown using a list of dictionaries
Age_Demographics_Analysis_df = pd.DataFrame([
    {"Age": "<10", "Total Count": player_count_agelessthanten, "Percentage of Players": Percentagelessthanten*100},
    {"Age": "10-14", "Total Count": player_count_age10to14, "Percentage of Players": Percentage10to14*100},
    {"Age": "15-19", "Total Count": player_count_age15to19, "Percentage of Players": Percentage15to19*100},
    {"Age": "20-24", "Total Count": player_count_age20to24, "Percentage of Players": Percentage20to24*100},
    {"Age": "25-29", "Total Count": player_count_age25to29, "Percentage of Players": Percentage25to29*100},
    {"Age": "30-34", "Total Count": player_count_age30to34, "Percentage of Players": Percentage30to34*100},
    {"Age": "35-39", "Total Count": player_count_age35to39, "Percentage of Players": Percentage35to39*100},
    {"Age": "40+", "Total Count": player_count_age40plus, "Percentage of Players": Percentage40plus*100},   
    ])
Age_Demographics_Analysis_df

     Age  Total Count  Percentage of Players
0    <10           17               2.951389
1  10-14           22               3.819444
2  15-19          107              18.576389
3  20-24          258              44.791667
4  25-29           77              13.368056
5  30-34           52               9.027778
6  35-39           31               5.381944
7    40+           12               2.083333

In [188]:
# Optional: round the percentage column to two decimal points

Age_Demographics_Analysis_Formatted_df = Age_Demographics_Analysis_df

Age_Demographics_Analysis_Formatted_df["Percentage of Players"] = Age_Demographics_Analysis_df["Percentage of Players"].map("{:.2f}%".format)

Age_Demographics_Analysis_Formatted_df

     Age  Total Count Percentage of Players
0    <10           17                 2.95%
1  10-14           22                 3.82%
2  15-19          107                18.58%
3  20-24          258                44.79%
4  25-29           77                13.37%
5  30-34           52                 9.03%
6  35-39           31                 5.38%
7    40+           12                 2.08%

In [189]:
# Purchasing Analysis (Age)

# Create New Dataframe for this Purchasing Analysis (Age) analysis that will categorizes the existing players using the age bins

purchasing_analysis_age_df = pd.DataFrame(purchase_data_df)

# Bin the purchase_data data frame by age by categorizing the existing players using the age bins.

purchasing_analysis_age_df["Age Demographics Summary"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
purchasing_analysis_age_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [231]:

# playersagelessthanten_purchase_data_df
# playersage10to14_purchase_data_df
# playersage15to19_purchase_data_df
# playersage20to24_purchase_data_df
# playersage25to29_purchase_data_df
# playersage30to34_purchase_data_df
# playersage35to39_purchase_data_df
# playersage40pluspurchase_data_df

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

# Number of Unique Purchases from each age category: The value_counts method counts unique values in a column
unique_purchases_playersagelessthanten = len(playersagelessthanten_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage10to14 = len(playersage10to14_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage15to19 = len(playersage15to19_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage20to24 = len(playersage20to24_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage25to29 = len(playersage25to29_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage30to34 = len(playersage30to34_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage35to39 = len(playersage35to39_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage40plus = len(playersage40pluspurchase_data_df["Purchase ID"].unique())


# Average Purchase Price from each age category: The mean method averages the series

average_purchase_price_playersagelessthanten = (playersagelessthanten_purchase_data_df["Price"].mean())
average_purchase_price_playersage10to14 = playersage10to14_purchase_data_df["Price"].mean()
average_purchase_price_playersage15to19 = playersage15to19_purchase_data_df["Price"].mean()
average_purchase_price_playersage20to24 = playersage20to24_purchase_data_df["Price"].mean()
average_purchase_price_playersage25to29 = playersage25to29_purchase_data_df["Price"].mean()
average_purchase_price_playersage30to34 = playersage30to34_purchase_data_df["Price"].mean()
average_purchase_price_playersage35to39 = playersage35to39_purchase_data_df["Price"].mean()
average_purchase_price_playersage40plus = playersage40pluspurchase_data_df["Price"].mean()


# Total Purchase Value from each age category

total_purchase_value_playersagelessthanten = (playersagelessthanten_purchase_data_df["Price"].sum())
total_purchase_value_playersage10to14 = playersage10to14_purchase_data_df["Price"].sum()
total_purchase_value_playersage15to19 = playersage15to19_purchase_data_df["Price"].sum()
total_purchase_value_playersage20to24 = playersage20to24_purchase_data_df["Price"].sum()
total_purchase_value_playersage25to29 = playersage25to29_purchase_data_df["Price"].sum()
total_purchase_value_playersage30to34 = playersage30to34_purchase_data_df["Price"].sum()
total_purchase_value_playersage35to39 = playersage35to39_purchase_data_df["Price"].sum()
total_purchase_value_playersage40plus = playersage40pluspurchase_data_df["Price"].sum()


# Avg Total Purchase per Person

avg_total_purchase_playersagelessthanten = total_purchase_value_playersagelessthanten / player_count_agelessthanten
avg_total_purchase_playersage10to14 = total_purchase_value_playersage10to14 / player_count_age10to14
avg_total_purchase_playersage15to19 = total_purchase_value_playersage15to19 / player_count_age15to19
avg_total_purchase_playersage20to24 = total_purchase_value_playersage20to24 / player_count_age20to24
avg_total_purchase_playersage25to29 = total_purchase_value_playersage25to29 / player_count_age25to29
avg_total_purchase_playersage30to34 = total_purchase_value_playersage30to34 / player_count_age30to34
avg_total_purchase_playersage35to39 = total_purchase_value_playersage35to39 / player_count_age35to39
avg_total_purchase_playersage40plus = total_purchase_value_playersage40plus / player_count_age40plus


# Create a summary data frame to hold the results

# Create a summary data frame to hold the Purchasing Analysis(Age) results

# Create a DataFrame of Age Breakdown using a list of dictionaries
PurchasingAnalysisbyAge_df = pd.DataFrame([
    {"Age Ranges": "<10", "Purchase Count": unique_purchases_playersagelessthanten, "Average Purchase Price": average_purchase_price_playersagelessthanten, "Total Purchase Value": total_purchase_value_playersagelessthanten, "Avg Total Purchase per Person": avg_total_purchase_playersagelessthanten},
    {"Age Ranges": "10-14", "Purchase Count": unique_purchases_playersage10to14, "Average Purchase Price": average_purchase_price_playersage10to14, "Total Purchase Value": total_purchase_value_playersage10to14, "Avg Total Purchase per Person": avg_total_purchase_playersage10to14},
    {"Age Ranges": "15-19", "Purchase Count": unique_purchases_playersage15to19, "Average Purchase Price": average_purchase_price_playersage15to19, "Total Purchase Value": total_purchase_value_playersage15to19, "Avg Total Purchase per Person": avg_total_purchase_playersage15to19},
    {"Age Ranges": "20-24", "Purchase Count": unique_purchases_playersage20to24, "Average Purchase Price": average_purchase_price_playersage20to24, "Total Purchase Value": total_purchase_value_playersage20to24, "Avg Total Purchase per Person": avg_total_purchase_playersage20to24},
    {"Age Ranges": "25-29", "Purchase Count": unique_purchases_playersage25to29, "Average Purchase Price": average_purchase_price_playersage25to29, "Total Purchase Value": total_purchase_value_playersage25to29, "Avg Total Purchase per Person": avg_total_purchase_playersage25to29},
    {"Age Ranges": "30-34", "Purchase Count": unique_purchases_playersage30to34, "Average Purchase Price": average_purchase_price_playersage30to34, "Total Purchase Value": total_purchase_value_playersage30to34, "Avg Total Purchase per Person": avg_total_purchase_playersage30to34},
    {"Age Ranges": "35-39", "Purchase Count": unique_purchases_playersage35to39, "Average Purchase Price": average_purchase_price_playersage35to39, "Total Purchase Value": total_purchase_value_playersage35to39, "Avg Total Purchase per Person": avg_total_purchase_playersage35to39},
    {"Age Ranges": "40+", "Purchase Count": unique_purchases_playersage40plus, "Average Purchase Price": average_purchase_price_playersage40plus, "Total Purchase Value": total_purchase_value_playersage40plus, "Avg Total Purchase per Person": avg_total_purchase_playersage40plus},
])
PurchasingAnalysisbyAge_df

# Optional: give the displayed data cleaner formatting


# Display the summary data frame

,Age Ranges,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,3.353478,77.13,4.537059
1,10-14,28,2.956429,82.78,3.762727
2,15-19,136,3.035956,412.89,3.858785
3,20-24,365,3.052219,1114.06,4.318062
4,25-29,101,2.900990,293.00,3.805195
5,30-34,73,2.931507,214.00,4.115385
6,35-39,41,3.601707,147.67,4.763548
7,40+,13,2.941538,38.24,3.186667

In [232]:
PurchasingAnalysisbyAge_Formatted_df = PurchasingAnalysisbyAge_df

PurchasingAnalysisbyAge_Formatted_df["Average Purchase Price"] = PurchasingAnalysisbyAge_df["Average Purchase Price"].map("${:.2f}".format)
PurchasingAnalysisbyAge_Formatted_df["Total Purchase Value"] = PurchasingAnalysisbyAge_df["Total Purchase Value"].map("${:,.2f}".format)
PurchasingAnalysisbyAge_Formatted_df["Avg Total Purchase per Person"] = PurchasingAnalysisbyAge_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

PurchasingAnalysisbyAge_Formatted_df

,Age Ranges,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,$3.35,$77.13,$4.54
1,10-14,28,$2.96,$82.78,$3.76
2,15-19,136,$3.04,$412.89,$3.86
3,20-24,365,$3.05,"$1,114.06",$4.32
4,25-29,101,$2.90,$293.00,$3.81
5,30-34,73,$2.93,$214.00,$4.12
6,35-39,41,$3.60,$147.67,$4.76
7,40+,13,$2.94,$38.24,$3.19

In [239]:
# Top Spenders
 
# Run basic calculations to obtain the results in the table below


# Create a summary data frame to hold the results

# Using GroupBy in order to separate the data into fields according to "SN" values
grouped_purchase_data_df = purchase_data_df.groupby(['SN'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_purchase_data_df)

# In order to be visualized, a data function must be used...
grouped_purchase_data_df["Price"].sum()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000000009DAC2E8>

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [241]:
# Total Purchase Count can now be summed up per SN
SN_TotalPurchaseCount = grouped_purchase_data_df["Purchase ID"].count()
SN_TotalPurchaseCount.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase ID, dtype: int64

In [242]:
# Average Purchase Price can now be summed up per SN
SN_AvgPurchasePrice = grouped_purchase_data_df["Price"].mean()
SN_AvgPurchasePrice.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [243]:
# Total Purchase Value can now be summed up per SN
SN_TotalPurchaseValue = grouped_purchase_data_df["Price"].sum()
SN_TotalPurchaseValue.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [251]:
# Converting a GroupBy object into a DataFrame for Average Purchase Price by SN

AvgPurchasePrice_data_groupedbySN_df = pd.DataFrame(
    grouped_purchase_data_df["Price"].mean())
AvgPurchasePrice_data_groupedbySN_df.head(10)

                 Price
SN
Adairialis76  2.280000
Adastirin33   4.480000
Aeda94        4.910000
Aela59        4.320000
Aelaria33     1.790000
Aelastirin39  3.645000
Aelidru27     1.090000
Aelin32       2.993333
Aelly27       3.395000
Aellynun67    3.740000

In [250]:
# Converting a GroupBy object into a DataFrame for Total Purchase Value by SN

TotalPurchaseValue_data_groupedbySN_df = pd.DataFrame(
    grouped_purchase_data_df["Price"].sum())
TotalPurchaseValue_data_groupedbySN_df.head(10)

              Price
SN
Adairialis76   2.28
Adastirin33    4.48
Aeda94         4.91
Aela59         4.32
Aelaria33      1.79
Aelastirin39   7.29
Aelidru27      1.09
Aelin32        8.98
Aelly27        6.79
Aellynun67     3.74

In [248]:
# Converting a GroupBy object into a DataFrame for Purchase Counts by SN

PurchaseCount_data_groupedbySN_df = pd.DataFrame(
    grouped_purchase_data_df["Purchase ID"].count())
PurchaseCount_data_groupedbySN_df.head(10)

              Purchase ID
SN
Adairialis76            1
Adastirin33             1
Aeda94                  1
Aela59                  1
Aelaria33               1
Aelastirin39            2
Aelidru27               1
Aelin32                 3
Aelly27                 2
Aellynun67              1

In [ ]:
# Sort the total purchase value column in descending order- To sort from highest to lowest, ascending=False must be passed in
grouped_purchase_data_df = grouped_purchase_data_df.sort_values("Price", ascending=False)
grouped_purchase_data_df.head()

# Optional: give the displayed data cleaner formatting


# Display a preview of the summary data frame