In [232]:
# Dependencies and Setup
import pandas as pd

# Load File
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

# Display top 5 rows of dataframe for reference
# purchase_data_df.head()

In [233]:
# # Display a statistical overview of the DataFrame for reference
# purchase_data_df.describe()

In [234]:
# # Check to see if there are any incomplete rows
# purchase_data_df.count()

In [235]:
# # Reference the Length of the unique values in the SN Column. Value_counts method counts unique values in a column
# TotalPlayers = purchase_data_df["SN"].value_counts()
# TotalPlayers

In [236]:
# # Calculate the Total Number of Unique Players in the DataFrame
# player_count = len(purchase_data_df["SN"].unique())
# player_count

In [237]:
# PLAYER COUNT- TOTAL NUMBER OF PLAYERS: Create a DataFrame to display the Total Number of Players
player_count_df = pd.DataFrame(
    {"Total Players": [player_count],
     })

player_count_df

   Total Players
0            576

In [238]:
# PURCHASING ANALYSIS (TOTAL)

# Number of Unique Items: The value_counts method counts unique values in a column
unique_items = len(purchase_data_df["Item ID"].unique())
unique_items

183

In [239]:
# Average Purchase Price: The mean method averages the series
average_purchase_price = purchase_data_df["Price"].mean()
average_purchase_price

3.050987179487176

In [240]:
# Total Number of Purchases: The value_counts method counts unique values in a column
Number_of_Purchases = len(purchase_data_df["Purchase ID"].unique())
Number_of_Purchases

780

In [241]:
# Total Revenue
Total_Revenue = purchase_data_df["Price"].sum()
Total_Revenue

2379.77

In [242]:
# Create a summary data frame to hold the results

Purchasing_Analysis_df = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
     "Average Price": [average_purchase_price],
     "Number of Purchases": [Number_of_Purchases],
     "Total Revenue": [Total_Revenue]
     })

# Display the summary data frame

Purchasing_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [243]:
# Optional: give the displayed data cleaner formatting: Use Map to format all the columns

Purchasing_Analysis_Formatted_df = Purchasing_Analysis_df

Purchasing_Analysis_Formatted_df["Average Price"] = Purchasing_Analysis_df["Average Price"].map("${:.2f}".format)
Purchasing_Analysis_Formatted_df["Total Revenue"] = Purchasing_Analysis_df["Total Revenue"].map("${:,.2f}".format)

Purchasing_Analysis_Formatted_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [244]:
# # GENDER DEMOGRAPHICS

# # Evaluate the unique values in the Gender Column for refernece

# uniquevaluesingendercolumn = purchase_data_df["Gender"].unique()
# uniquevaluesingendercolumn

In [245]:
# Filter the data so that only Males are in a DataFrame

male_purchase_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
# male_purchase_data_df.head()

In [246]:
# Calculate the Total Number of Unique Male Players in the DataFrame
male_player_count = len(male_purchase_data_df["SN"].unique())
male_player_count

484

In [247]:
# Calculate the Percentage of Male Players

PercentageMalePlayers = male_player_count / player_count
PercentageMalePlayers

0.8402777777777778

In [248]:
# Filter the data so that only Females are in a DataFrame

female_purchase_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
# female_purchase_data_df.head()

In [249]:
# Calculate the Total Number of Unique Female Players in the DataFrame
female_player_count = len(female_purchase_data_df["SN"].unique())
female_player_count

81

In [250]:
# Calculate the Percentage of Female Players

PercentageFemalePlayers = female_player_count / player_count
PercentageFemalePlayers

0.140625

In [251]:
# Filter the data so that only Other / Non-Disclosed Players are in a DataFrame

othernondisclosed_purchase_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
# othernondisclosed_purchase_data_df.head()

In [252]:
# Calculate the Total Number of Unique Other / Non-Disclosed Players in the DataFrame
othernondisclosed_player_count = len(othernondisclosed_purchase_data_df["SN"].unique())
othernondisclosed_player_count

11

In [253]:
# Calculate the Percentage of Unique Other / Non-Disclosed Players

PercentageOtherNonDisclosedPlayers = othernondisclosed_player_count / player_count
PercentageOtherNonDisclosedPlayers

0.019097222222222224

In [254]:
# Create a summary data frame to hold the Gender Demographics Analysis results

# Create a DataFrame of Gender Breakdown using a list of dictionaries
GenderAnalysis_df = pd.DataFrame([
    {"Gender": "Male", "Total Count": male_player_count, "Percentage of Players": PercentageMalePlayers*100},
    {"Gender": "Female", "Total Count": female_player_count, "Percentage of Players": PercentageFemalePlayers*100},
    {"Gender": "Other / Non-Disclosed", "Total Count": othernondisclosed_player_count, "Percentage of Players": PercentageOtherNonDisclosedPlayers*100},
]).set_index("Gender")
GenderAnalysis_df

                       Total Count  Percentage of Players
Gender
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [255]:
# Optional: give the displayed data cleaner formatting: Use Map to format all the columns

GenderAnalysis_Formatted_df = GenderAnalysis_df

GenderAnalysis_Formatted_df["Percentage of Players"] = GenderAnalysis_df["Percentage of Players"].map("{:.2f}%".format)

GenderAnalysis_Formatted_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [256]:
# PURCHASING ANALYSIS (Gender)
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by male

# Number of Unique Purchases from Males: The value_counts method counts unique values in a column
unique_purchases_male = len(male_purchase_data_df["Purchase ID"].unique())
unique_purchases_male

652

In [257]:
# Average Purchase Price from Males: The mean method averages the series
average_purchase_price_male = male_purchase_data_df["Price"].mean()
average_purchase_price_male

3.0178527607361953

In [258]:
# Total Purchase Value from Males
Total_Revenue_Male = male_purchase_data_df["Price"].sum()
Total_Revenue_Male

1967.64

In [259]:
# Average Total Purchase per Male Person
average_purchase_per_male = Total_Revenue_Male / male_player_count
average_purchase_per_male

4.065371900826446

In [260]:
# Number of Unique Purchases from Females: The value_counts method counts unique values in a column
unique_purchases_female = len(female_purchase_data_df["Purchase ID"].unique())
unique_purchases_female

113

In [261]:
# Average Purchase Price from Females: The mean method averages the series
average_purchase_price_female = female_purchase_data_df["Price"].mean()
average_purchase_price_female

3.203008849557519

In [262]:
# Total Purchase Value from Females
Total_Revenue_Female = female_purchase_data_df["Price"].sum()
Total_Revenue_Female

361.94

In [263]:
# Average Total Purchase per Female Person
average_purchase_per_female = Total_Revenue_Female / female_player_count
average_purchase_per_female

4.468395061728395

In [264]:
# Number of Unique Purchases from OtherNon-Disclosed: The value_counts method counts unique values in a column
unique_purchases_othernondisclosed = len(othernondisclosed_purchase_data_df["Purchase ID"].unique())
unique_purchases_othernondisclosed

15

In [265]:
# Average Purchase Price from othernondisclosed: The mean method averages the series
average_purchase_price_othernondisclosed = othernondisclosed_purchase_data_df["Price"].mean()
average_purchase_price_othernondisclosed

3.3460000000000005

In [266]:
# Total Purchase Value from othernondisclosed
Total_Revenue_Othernondisclosed = othernondisclosed_purchase_data_df["Price"].sum()
Total_Revenue_Othernondisclosed

50.19

In [267]:
# Average Total Purchase per Othernondisclosed Person
average_purchase_per_othernondisclosed = Total_Revenue_Othernondisclosed / othernondisclosed_player_count
average_purchase_per_othernondisclosed

4.5627272727272725

In [268]:
# Create a summary data frame to hold the Purchasing Analysis(Gender) results

# Create a DataFrame of Gender Breakdown using a list of dictionaries
PurchasingAnalysisbyGender_df = pd.DataFrame([
    {"Gender": "Female", "Purchase Count": unique_purchases_female, "Average Purchase Price": average_purchase_price_female, "Total Purchase Value": Total_Revenue_Female, "Avg Total Purchase per Person": average_purchase_per_female},
    {"Gender": "Male", "Purchase Count": unique_purchases_male, "Average Purchase Price": average_purchase_price_male, "Total Purchase Value": Total_Revenue_Male, "Avg Total Purchase per Person": average_purchase_per_male},
    {"Gender": "Other / Non-Disclosed", "Purchase Count": unique_purchases_othernondisclosed, "Average Purchase Price": average_purchase_price_othernondisclosed, "Total Purchase Value": Total_Revenue_Othernondisclosed, "Avg Total Purchase per Person": average_purchase_per_othernondisclosed},
]).set_index("Gender")
PurchasingAnalysisbyGender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [269]:
# Optional: give the displayed data cleaner formatting

PurchasingAnalysisbyGender_Formatted_df = PurchasingAnalysisbyGender_df

PurchasingAnalysisbyGender_Formatted_df["Average Purchase Price"] = PurchasingAnalysisbyGender_df["Average Purchase Price"].map("${:.2f}".format)
PurchasingAnalysisbyGender_Formatted_df["Total Purchase Value"] = PurchasingAnalysisbyGender_df["Total Purchase Value"].map("${:,.2f}".format)
PurchasingAnalysisbyGender_Formatted_df["Avg Total Purchase per Person"] = PurchasingAnalysisbyGender_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

PurchasingAnalysisbyGender_Formatted_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [270]:
# AGE DEMOGRAPHICS

# Establish bins for ages- Create the bins in which Data will be held

bins = [0, 9, 14, 19, 24, 29, 34, 39, 999]

# Create the names for the eight bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create New Dataframe for this analysis that will categorizes the existing players using the age bins

purchase_data_age_demographics_df = pd.DataFrame(purchase_data_df)

# Categorize the existing players using the age bins. Hint: use pd.cut()

purchase_data_age_demographics_df["Age Demographics Summary"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
# purchase_data_age_demographics_df

In [271]:
# Calculate the numbers and percentages by age group

# Count the number of Players Aged less than 10

# Filter the data so that only players less than 10 are in a DataFrame

playersagelessthanten_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "<10", :]
# playersagelessthanten_purchase_data_df.head()

In [272]:
# Calculate the Total Number of Players aged less than 10 in the DataFrame
player_count_agelessthanten = len(playersagelessthanten_purchase_data_df["SN"].unique())
player_count_agelessthanten

17

In [273]:
# Calculate the Percentage of Players aged less than 10 in the DataFrame

Percentagelessthanten = player_count_agelessthanten / player_count
Percentagelessthanten

0.029513888888888888

In [274]:
# Filter the data so that only players between 10-14 are in a DataFrame

playersage10to14_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "10-14", :]
# playersage10to14_purchase_data_df.head()

In [275]:
# Calculate the Total Number of Players aged 10-14 in the DataFrame
player_count_age10to14 = len(playersage10to14_purchase_data_df["SN"].unique())
player_count_age10to14

22

In [276]:
# Calculate the Percentage of Players aged 10-14 in the DataFrame

Percentage10to14 = player_count_age10to14 / player_count
Percentage10to14

0.03819444444444445

In [277]:
# Filter the data so that only players between 15-19 are in a DataFrame

playersage15to19_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "15-19", :]
# playersage15to19_purchase_data_df.head()

In [278]:
# Calculate the Total Number of Players aged 15-19 in the DataFrame
player_count_age15to19 = len(playersage15to19_purchase_data_df["SN"].unique())
player_count_age15to19

107

In [279]:
# Calculate the Percentage of Players aged 15-19 in the DataFrame

Percentage15to19 = player_count_age15to19 / player_count
Percentage15to19

0.1857638888888889

In [280]:
# Filter the data so that only players between 20-24 are in a DataFrame

playersage20to24_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "20-24", :]
# playersage20to24_purchase_data_df.head()

In [281]:
# Calculate the Total Number of Players aged 20-24 in the DataFrame
player_count_age20to24 = len(playersage20to24_purchase_data_df["SN"].unique())
player_count_age20to24

258

In [282]:
# Calculate the Percentage of Players aged 20-24 in the DataFrame

Percentage20to24 = player_count_age20to24 / player_count
Percentage20to24

0.4479166666666667

In [283]:
# Filter the data so that only players between 25-29 are in a DataFrame

playersage25to29_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "25-29", :]
# playersage25to29_purchase_data_df.head()

In [284]:
# Calculate the Total Number of Players aged 25-29 in the DataFrame
player_count_age25to29 = len(playersage25to29_purchase_data_df["SN"].unique())
player_count_age25to29

77

In [285]:
# Calculate the Percentage of Players aged 25-29 in the DataFrame

Percentage25to29 = player_count_age25to29 / player_count
Percentage25to29

0.13368055555555555

In [286]:
# Filter the data so that only players between 30-34 are in a DataFrame

playersage30to34_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "30-34", :]
# playersage30to34_purchase_data_df.head()

In [287]:
# Calculate the Total Number of Players aged 30-34 in the DataFrame
player_count_age30to34 = len(playersage30to34_purchase_data_df["SN"].unique())
player_count_age30to34

52

In [288]:
# Calculate the Percentage of Players aged 30-34 in the DataFrame

Percentage30to34 = player_count_age30to34 / player_count
Percentage30to34

0.09027777777777778

In [289]:
# Filter the data so that only players between 35-39 are in a DataFrame

playersage35to39_purchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "35-39", :]
# playersage35to39_purchase_data_df.head()

In [290]:
# Calculate the Total Number of Players aged 35-39 in the DataFrame
player_count_age35to39 = len(playersage35to39_purchase_data_df["SN"].unique())
player_count_age35to39

31

In [291]:
# Calculate the Percentage of Players aged 35-39 in the DataFrame

Percentage35to39 = player_count_age35to39 / player_count
Percentage35to39

0.05381944444444445

In [292]:
# Filter the data so that only players aged 40+ are in a DataFrame

playersage40pluspurchase_data_df = purchase_data_age_demographics_df.loc[purchase_data_age_demographics_df["Age Demographics Summary"] == "40+", :]
# playersage40pluspurchase_data_df.head()

In [293]:
# Calculate the Total Number of Players aged 40+ in the DataFrame
player_count_age40plus = len(playersage40pluspurchase_data_df["SN"].unique())
player_count_age40plus

12

In [294]:
# Calculate the Percentage of Players aged 40+ in the DataFrame

Percentage40plus = player_count_age40plus / player_count
Percentage40plus

0.020833333333333332

In [295]:
# Create a summary data frame to hold the Age Demographics Analysis results

# Create a DataFrame of Age Category Breakdown using a list of dictionaries
Age_Demographics_Analysis_df = pd.DataFrame([
    {"Age": "<10", "Total Count": player_count_agelessthanten, "Percentage of Players": Percentagelessthanten*100},
    {"Age": "10-14", "Total Count": player_count_age10to14, "Percentage of Players": Percentage10to14*100},
    {"Age": "15-19", "Total Count": player_count_age15to19, "Percentage of Players": Percentage15to19*100},
    {"Age": "20-24", "Total Count": player_count_age20to24, "Percentage of Players": Percentage20to24*100},
    {"Age": "25-29", "Total Count": player_count_age25to29, "Percentage of Players": Percentage25to29*100},
    {"Age": "30-34", "Total Count": player_count_age30to34, "Percentage of Players": Percentage30to34*100},
    {"Age": "35-39", "Total Count": player_count_age35to39, "Percentage of Players": Percentage35to39*100},
    {"Age": "40+", "Total Count": player_count_age40plus, "Percentage of Players": Percentage40plus*100},   
    ]).set_index("Age")
Age_Demographics_Analysis_df

       Total Count  Percentage of Players
Age
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

In [296]:
# Optional: round the percentage column to two decimal points

Age_Demographics_Analysis_Formatted_df = Age_Demographics_Analysis_df

Age_Demographics_Analysis_Formatted_df["Percentage of Players"] = Age_Demographics_Analysis_df["Percentage of Players"].map("{:.2f}%".format)

Age_Demographics_Analysis_Formatted_df

       Total Count Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [297]:
# Purchasing Analysis (Age)

# Create New Dataframe for this Purchasing Analysis (Age) analysis that will categorizes the existing players using the age bins

purchasing_analysis_age_df = pd.DataFrame(purchase_data_df)

# Bin the purchase_data data frame by age by categorizing the existing players using the age bins.

purchasing_analysis_age_df["Age Demographics Summary"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
# purchasing_analysis_age_df

In [298]:
# DFs For reference:
# playersagelessthanten_purchase_data_df
# playersage10to14_purchase_data_df
# playersage15to19_purchase_data_df
# playersage20to24_purchase_data_df
# playersage25to29_purchase_data_df
# playersage30to34_purchase_data_df
# playersage35to39_purchase_data_df
# playersage40pluspurchase_data_df

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

# Number of Unique Purchases from each age category: The value_counts method counts unique values in a column
unique_purchases_playersagelessthanten = len(playersagelessthanten_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage10to14 = len(playersage10to14_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage15to19 = len(playersage15to19_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage20to24 = len(playersage20to24_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage25to29 = len(playersage25to29_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage30to34 = len(playersage30to34_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage35to39 = len(playersage35to39_purchase_data_df["Purchase ID"].unique())
unique_purchases_playersage40plus = len(playersage40pluspurchase_data_df["Purchase ID"].unique())


# Average Purchase Price from each age category: The mean method averages the series

average_purchase_price_playersagelessthanten = (playersagelessthanten_purchase_data_df["Price"].mean())
average_purchase_price_playersage10to14 = playersage10to14_purchase_data_df["Price"].mean()
average_purchase_price_playersage15to19 = playersage15to19_purchase_data_df["Price"].mean()
average_purchase_price_playersage20to24 = playersage20to24_purchase_data_df["Price"].mean()
average_purchase_price_playersage25to29 = playersage25to29_purchase_data_df["Price"].mean()
average_purchase_price_playersage30to34 = playersage30to34_purchase_data_df["Price"].mean()
average_purchase_price_playersage35to39 = playersage35to39_purchase_data_df["Price"].mean()
average_purchase_price_playersage40plus = playersage40pluspurchase_data_df["Price"].mean()


# Total Purchase Value from each age category

total_purchase_value_playersagelessthanten = (playersagelessthanten_purchase_data_df["Price"].sum())
total_purchase_value_playersage10to14 = playersage10to14_purchase_data_df["Price"].sum()
total_purchase_value_playersage15to19 = playersage15to19_purchase_data_df["Price"].sum()
total_purchase_value_playersage20to24 = playersage20to24_purchase_data_df["Price"].sum()
total_purchase_value_playersage25to29 = playersage25to29_purchase_data_df["Price"].sum()
total_purchase_value_playersage30to34 = playersage30to34_purchase_data_df["Price"].sum()
total_purchase_value_playersage35to39 = playersage35to39_purchase_data_df["Price"].sum()
total_purchase_value_playersage40plus = playersage40pluspurchase_data_df["Price"].sum()


# Avg Total Purchase per Person

avg_total_purchase_playersagelessthanten = total_purchase_value_playersagelessthanten / player_count_agelessthanten
avg_total_purchase_playersage10to14 = total_purchase_value_playersage10to14 / player_count_age10to14
avg_total_purchase_playersage15to19 = total_purchase_value_playersage15to19 / player_count_age15to19
avg_total_purchase_playersage20to24 = total_purchase_value_playersage20to24 / player_count_age20to24
avg_total_purchase_playersage25to29 = total_purchase_value_playersage25to29 / player_count_age25to29
avg_total_purchase_playersage30to34 = total_purchase_value_playersage30to34 / player_count_age30to34
avg_total_purchase_playersage35to39 = total_purchase_value_playersage35to39 / player_count_age35to39
avg_total_purchase_playersage40plus = total_purchase_value_playersage40plus / player_count_age40plus

# Create a summary data frame to hold the Purchasing Analysis(Age) results

# Create a DataFrame of Age Breakdown using a list of dictionaries
PurchasingAnalysisbyAge_df = pd.DataFrame([
    {"Age Ranges": "<10", "Purchase Count": unique_purchases_playersagelessthanten, "Average Purchase Price": average_purchase_price_playersagelessthanten, "Total Purchase Value": total_purchase_value_playersagelessthanten, "Avg Total Purchase per Person": avg_total_purchase_playersagelessthanten},
    {"Age Ranges": "10-14", "Purchase Count": unique_purchases_playersage10to14, "Average Purchase Price": average_purchase_price_playersage10to14, "Total Purchase Value": total_purchase_value_playersage10to14, "Avg Total Purchase per Person": avg_total_purchase_playersage10to14},
    {"Age Ranges": "15-19", "Purchase Count": unique_purchases_playersage15to19, "Average Purchase Price": average_purchase_price_playersage15to19, "Total Purchase Value": total_purchase_value_playersage15to19, "Avg Total Purchase per Person": avg_total_purchase_playersage15to19},
    {"Age Ranges": "20-24", "Purchase Count": unique_purchases_playersage20to24, "Average Purchase Price": average_purchase_price_playersage20to24, "Total Purchase Value": total_purchase_value_playersage20to24, "Avg Total Purchase per Person": avg_total_purchase_playersage20to24},
    {"Age Ranges": "25-29", "Purchase Count": unique_purchases_playersage25to29, "Average Purchase Price": average_purchase_price_playersage25to29, "Total Purchase Value": total_purchase_value_playersage25to29, "Avg Total Purchase per Person": avg_total_purchase_playersage25to29},
    {"Age Ranges": "30-34", "Purchase Count": unique_purchases_playersage30to34, "Average Purchase Price": average_purchase_price_playersage30to34, "Total Purchase Value": total_purchase_value_playersage30to34, "Avg Total Purchase per Person": avg_total_purchase_playersage30to34},
    {"Age Ranges": "35-39", "Purchase Count": unique_purchases_playersage35to39, "Average Purchase Price": average_purchase_price_playersage35to39, "Total Purchase Value": total_purchase_value_playersage35to39, "Avg Total Purchase per Person": avg_total_purchase_playersage35to39},
    {"Age Ranges": "40+", "Purchase Count": unique_purchases_playersage40plus, "Average Purchase Price": average_purchase_price_playersage40plus, "Total Purchase Value": total_purchase_value_playersage40plus, "Avg Total Purchase per Person": avg_total_purchase_playersage40plus},
]).set_index("Age Ranges")
PurchasingAnalysisbyAge_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [299]:
# Optional: give the displayed data cleaner formatting

PurchasingAnalysisbyAge_Formatted_df = PurchasingAnalysisbyAge_df

PurchasingAnalysisbyAge_Formatted_df["Average Purchase Price"] = PurchasingAnalysisbyAge_df["Average Purchase Price"].map("${:.2f}".format)
PurchasingAnalysisbyAge_Formatted_df["Total Purchase Value"] = PurchasingAnalysisbyAge_df["Total Purchase Value"].map("${:,.2f}".format)
PurchasingAnalysisbyAge_Formatted_df["Avg Total Purchase per Person"] = PurchasingAnalysisbyAge_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

PurchasingAnalysisbyAge_Formatted_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [300]:
# Top Spenders

# Using GroupBy in order to separate the data into fields according to "SN" values
groupedbySN_purchase_data_df = purchase_data_df.groupby(['SN'])

# The object returned is a "GroupBy" object and cannot be viewed normally.
# print(groupedbySN_purchase_data_df)

# In order to be visualized, a data function must be used...
# groupedbySN_purchase_data_df["Price"].sum()

In [301]:
# Total Purchase Value can now be summed up per SN
SN_TotalPurchaseValue = groupedbySN_purchase_data_df["Price"].sum()
# SN_TotalPurchaseValue.head()

In [302]:
# Total Purchase Count can now be summed up per SN
SN_TotalPurchaseCount = groupedbySN_purchase_data_df["Purchase ID"].count()
# SN_TotalPurchaseCount.head()

In [303]:
# Average Purchase Price can now be summed up per SN
SN_AvgPurchasePrice = groupedbySN_purchase_data_df["Price"].mean()
# SN_AvgPurchasePrice.head()

In [304]:
# Creating a new DataFrame using Total Purchase Count, Avg Purchase Price and Total Purchase Value

SN_summary_table = pd.DataFrame({"Purchase Count": SN_TotalPurchaseCount,
                                 "Average Purchase Price": SN_AvgPurchasePrice,
                                 "Total Purchase Value": SN_TotalPurchaseValue                  
                                })
# SN_summary_table.head()

In [305]:
# Sort the table by Total Purchase Value

Top_Spenders_df = SN_summary_table.sort_values(["Total Purchase Value"], ascending=False)

Top_Spenders_df.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [306]:
# Optional: give the displayed data cleaner formatting

Top_Spenders_Formatted_df = Top_Spenders_df

Top_Spenders_Formatted_df["Average Purchase Price"] = Top_Spenders_df["Average Purchase Price"].map("${:.2f}".format)
Top_Spenders_Formatted_df["Total Purchase Value"] = Top_Spenders_df["Total Purchase Value"].map("${:,.2f}".format)

Top_Spenders_Formatted_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [307]:
# Most Popular Items
 
# Retrieve the Item ID, Item Name, and Item Price columns

Item_purchase_data_df = pd.DataFrame(purchase_data_df, columns=["Item ID", "Item Name", "Price"])
# Item_purchase_data_df

In [308]:
# Group by Item ID and Item Name. 

# Using GroupBy in order to separate the data into fields according to "SN" values
groupedbyItem_purchase_data_df = Item_purchase_data_df.groupby(['Item ID', 'Item Name'])

# The object returned is a "GroupBy" object and cannot be viewed normally.
# print(groupedbyItem_purchase_data_df)

# In order to be visualized, a data function must be used...
# groupedbyItem_purchase_data_df["Price"].sum()

In [309]:
# Perform calculations to obtain purchase count, item price, and total purchase value

# Total Purchase Count can now be summed up per Item
Item_TotalPurchaseCount = groupedbyItem_purchase_data_df["Item ID"].count()
Item_TotalPurchaseCount.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Item ID, dtype: int64

In [310]:
# Total Purchase Value can now be summed up per Item
Item_TotalPurchaseValue = groupedbyItem_purchase_data_df["Price"].sum()
# Item_TotalPurchaseValue.head()

In [311]:
# Item Price can now be calculated
Item_Price = Item_TotalPurchaseValue / Item_TotalPurchaseCount
# Item_Price.head()

In [312]:
# Create a summary data frame to hold the results

# Creating a new DataFrame using Total Purchase Count, Item Price and Total Purchase Value

Item_summary_table = pd.DataFrame({"Purchase Count": Item_TotalPurchaseCount,
                                 "Item Price": Item_Price,
                                 "Total Purchase Value": Item_TotalPurchaseValue
                                
                                })
# Item_summary_table.head()

In [313]:
# Sort the purchase count column in descending order

Top_Items_df = Item_summary_table.sort_values(["Purchase Count"], ascending=False)

Top_Items_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [314]:
# Optional: give the displayed data cleaner formatting

Top_Items_Formatted_df = Top_Items_df

Top_Items_Formatted_df["Item Price"] = Top_Items_df["Item Price"].map("${:.2f}".format)
Top_Items_Formatted_df["Total Purchase Value"] = Top_Items_df["Total Purchase Value"].map("${:,.2f}".format)

Top_Items_Formatted_df.head(5)

# Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [315]:
# Most Profitable Items
 
# Sort the above table by total purchase value in descending order

Top_Items_PurchaseValue_df = Item_summary_table.sort_values(["Total Purchase Value"], ascending=False)

Top_Items_PurchaseValue_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

In [316]:
# Optional: give the displayed data cleaner formatting

Top_Items_PurchaseValue_Formatted_df = Top_Items_PurchaseValue_df

Top_Items_PurchaseValue_Formatted_df["Item Price"] = Top_Items_PurchaseValue_df["Item Price"].map("${:.2f}".format)
Top_Items_PurchaseValue_Formatted_df["Total Purchase Value"] = Top_Items_PurchaseValue_df["Total Purchase Value"].map("${:,.2f}".format)

Top_Items_PurchaseValue_Formatted_df.head(5)

# Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80